/*  light mode / dark mode  */
:root {
    --background: #ffffff;
    --text: #000000;
    --highlight: #f5f8fe;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1f22;
        --text: #ffffff;
        --highlight: #26282e;
    }
}

body {
    font-family: system-ui, Inter, sans-serif;
    background-color: var(--background);
    color: var(--text);
    transition: background-color 1.5s, color 0.5s;
}

code {
    font-family: ui-monospace, 'JetBrains Mono', monospace;
}

